.gradle
/build/
/tmp/
.xml
.class
*~
.*.swp
.*.swo
/. idea/
**/.idea/workspace.xml 
**/.idea/tasks.xml


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
addressbook-web-test/build/tmp/test/jar_extract_6504516715517153978_tmp
