<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="C:/Dev/java_pft/addressBookWebTests1">
        <classes>

            <class name="com.stqa.pft.addressbook.tests.ContactCreationTests"/>

            <class name="com.stqa.pft.addressbook.tests.ContactDeletionTests"/>

            <class name="com.stqa.pft.addressbook.tests.GroupCreationTests"/>

            <class name="com.stqa.pft.addressbook.tests.GroupDeletionTests"/>

        </classes>
    </test>
</suite>